<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>
</head>
<body>
    <div id="app">

        <form id="app-form">
            <input type="text" v-model="input_nome" placeholder="Nome Completo"><br><br>
            <input type="date" v-model="input_validade" placeholder="Validade"><br><br>
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>

        <div class="card-section">

            <div class="card">

                <div class="card-input">
                    <p class="text-input">{{ input_nome }}</p>
                </div>

                <div class="card-input">
                    <p class="text-input">{{ formatValidate(input_validade) }}</p>
                </div>

                <div class="magnetic-stripe"></div>

            </div>

        </div>

    </div>
</body>
</html>